data:
  train_dir: "data/model/training"
  validation_dir: "data/model/validation"
  image_height: 256
  image_width: 256
  color_mode: "rgb"
  batch_size: 32
  shuffle_buffer: 1000

model:
  custom:
    conv_filters_1: 16
    conv_filters_2: 32
    dropout_pct: 0.3
    dense_units_1: 128
    dense_units_2: 64
    saved_model_dir: "saved_models/custom_model.h5"
    logs_dir: "logs/custom_model_logs.csv"
  transfer_learning:
    base_model: "densenet"
    pool_type: "max"
    dropout_pct: 0.3
    dense_units_1: 32
    saved_model_dir: "saved_model/transfer_learning_model.h5"
    logs_dir: "logs/transfer_learning_model.h5"

training:
  epochs: 10
  learning_rate_min: 1e-6
  optimizer: "adam"
  loss_fn: "binary_crossentropy"
  metrics: ["accuracy","recall","precision"]

