root_dir: ".." # root directory = parent directory

data:
  train_dir_notumor: "data/model/training/notumor"
  train_dir_tumor: "data/model/training/tumor"
  validation_dir_notumor: "data/model/validation/notumor"
  validation_dir_tumor: "data/model/validation/tumor"
  image_height: 256
  image_width: 256
  color_mode: "rgb"

model:
  custom:
    conv_filters: [16, 32]
    dropout_pct: 0.3
    dense_units: [128, 64]
    pool_type: "max"
    saved_model_dir: "saved_models/custom_model.h5"
  transfer_learning:
    base_model: "densenet"
    pool_type: "max"
    dropout_pct: 0.3
    dense_units_1: 32
    saved_model_dir: "saved_model/transfer_learning_model.h5"

training:
  epochs: 100
  batch_size: 64
  optimizer: "adam"
  loss_fn: "binary_crossentropy"
  metrics: ["accuracy","recall","precision"]
  callbacks:


